<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="Token" value="OTY5NjE0MjI3ODEzODU5Mzg4.Ymv9ng.9iwAMrdtKMrRLHlFfdhngabNJ_Y"/>
		<add key="filetowatch" value="C:\\Everquest\\Logs\\eqlog_Miri_mangler.txt"/>
		<add key="chatgrouptowatch" value="guild"/>
	</appSettings>
</configuration>